@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    transition: 0.5s;
}

label {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

label span {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #777;
    transition: .5s;
}

body.dark label span {
    color: #aaa;
}

label .action {
    position: relative;
}

label .action input {
    appearance: none;
}

label .action i {
    position: relative;
    width: 42px;
    height: 25px;
    background-color: #ddd;
    border-radius: 15px;
    transition: .5s;
}

body.dark label .action i {
    background-color: #666;
}


label .action input:checked~i {
    background-color: #cecece;
    transition: .5s;
}

label .action i::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: .5s;
}

label .action input:checked~i::before {
    left: calc(100% - 23px);
}

.notes__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 200px;
    grid-gap: 20px;
    transition: all 0.4s ease-in-out;
}

.notes__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    /* background-color: rgb(154, 33, 224); */
}

.notes__item:nth-child(2n - 1) {
    grid-column: span 1;
    grid-row: span 2;
    font-size: 26px;
}

@media (max-width: 768px) {
    .notes__container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-auto-rows: 150px;
        grid-gap: 10px;
    }

    .notes__item {
        font-size: 14px;
        /* background-color: rgb(154, 33, 224); */
    }

    .notes__item:nth-child(2n - 1) {
        grid-column: span 1;
        grid-row: span 2;
        font-size: 20px;
    }
}